<header>
	<div class="left"><h2 style="display: inline">Yafe Demo Area</h2></div>
	<mat-divider></mat-divider>
</header>

<main class="mat-app-background">
	<router-outlet></router-outlet>

	<!-- <mat-grid-list cols="2"> -->
	<!-- <mat-grid-tile> -->
	<!-- <yafe-forms-form-player-container></yafe-forms-form-player-container>> -->
	<!-- </mat-grid-tile> -->

	<!-- <mat-grid-tile> -->
	<!-- <yafe-forms-json-input -->
	<!-- (formDefinitionChanged)="buildForm($event)" -->
	<!-- </yafe-forms-json-input> -->
	<!-- </mat-grid-tile> -->
	<!-- </mat-grid-list> -->

	<mat-divider></mat-divider>
</main>
