:host {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.container {
	display: flex;
	flex-grow: 1;
}

main {
	// border: 1px solid red;
	// flex-grow: 1;

	// display: flex;
	height: 100%;
	// flex-direction: row;
}
